body {
  font-family: Nunito, sans-serif;
  color: #1c1c1c;
}
h1,
h2,
h2 {
  font-family: Asap, sans-serif;
  color: #000000;
}
.botao {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #e00d70;
  font-size: 0.9em;
  border-radius: 3px;
}

/* Navegação */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e00d70;
}
nav > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 800;
  font-size: 32px;
  font-family: Yellowtail, serif;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 100%;
}

nav ul li {
  text-align: center;
  width: 100%;
}

nav ul li a {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}
/*Cabeçalho */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/m3OWjP.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

header h1 {
  color: #ffffff;
}

header p {
  margin-bottom: 2em;
}

#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 10px 20px 20px;
  background-color: #e00d70;
  color: #ffffff;
}

#sobre h2 {
  color: #ffffff;
}
h2 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
}
#sobre p {
  margin-bottom: 2.5em;
  max-width: 1000px;
}
p {
  text-align: center;
}

#sobre .botao {
  background-color: #f1f1f1;
  color: #1c1c1c;
}
/*serviços*/
#Amigurumis {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
#Amigurumis div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

/*Fotos*/

#fotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#fotos h2 {
  margin-bottom: 20px;
}

#fotos img {
  width: 100%;
}
#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#contato h2 {
  color: #000000;
}

/*rodapé*/

footer {
  text-align: center;
  padding: 10px;
  background-color: #e00d70;
  color: #ffffff;
}

footer a {
  text-decoration: none;
  color: #00ffff;
}

@media screen and (min-width: 768px) {
  /*nav*/

  nav {
    flex-direction: row;
    justify-content: space-around;
  }
  nav ul {
    flex-direction: row;
    width: 70%;
  }
  /*Cabeçalho*/

  header {
    height: 600px;
    height: 60vh;
    justify-content: center;
  }
  /*Sobre*/

  #Sobre {
    height: 250px;
    height: 30vh;
    justify-content: center;
    min-height: 250px;
  }

  /* Amigurumis*/

  #Amigurumis {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
  }

  #Amigurumis h2 {
    text-align: center;
    width: 100%;
  }

  #Amigurumis div {
    flex-grow: 1;
    flex-basis: 150px;
    padding: 0 10px;
  }

  /*fotos*/

  #Fotos {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #Fotos h2 {
    width: 100%;
    text-align: center;
  }
  #Fotos img {
    width: 33.33333%;
  }

  /*contato*/

  #contato {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
  }

  #contato h2,
  #contato p {
    width: 100%;
  }
}
